.app {
  background-color: blue;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  align-items: center;
  background: url('../images/minerFinder-background.png');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  padding-bottom: 5vh;
  opacity: .7;
  overflow-x: hidden;
}

.app-link {
  color: #61dafb;
}

.information-bar{
  display: flex;
  justify-content: space-around;
  width: 78%;
}

@media screen and (max-width: 1100px) {
  .information-bar{
    width: 100%;
  }
}
