h3{
  margin-top: .5rem;
  text-decoration: underline;
}

.information-container{
  align-items: center;
  background-color: rgba( 1, 1, 1, 1);
  border-radius: 8px;
  color: lime;
  display: flex;
  flex-direction: column;
  height: 28vh;
  width: 18vw;
}

.market-price{
  color: white;
}
