.miner-summary{
  background-color: rgba( 1, 1, 1, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin-top: 4rem;
  width: 60vw;
}

.secondary-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scale-reward{
  margin-right: 20px;
  margin-top: 0;
}

.location{
  margin-left: 20px;
  margin-top: 0;
}

.miner-name{
  margin-bottom: 0;
}


@media screen and (max-width: 1100px) {
  .miner-summary{
    height: 40vh;
    width: 90%;
  }
}
