select{
  border-radius: 8px;
  height: 10%;
  margin-top: -20px;
  width:90%;
}

h3{
  margin-top: .5rem;
  text-decoration: underline;
}

.stat-to-show{
  margin-top: 1rem;
  color: lime;
}

.data-to-show{
  margin-top: 0;
  color: white;
  opacity: 1;
}

.information-container{
  border-radius: 8px;
  color: lime;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba( 1, 1, 1, 1);
  height: 28vh;
  width: 18vw;
}

.market-price{
  color: white;
}
